body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./imgVarias/cupraArena.jpeg);
}

#logo {
    width: 5%;
    height: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1%;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.teams {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    /* 4 filas */
    gap: 20px;
    align-items: center;
}

.xbuyerTeam img,
.porcinos img,
.pioFC img {
    padding-top: 10%;
}

.xbuyerTeam h2,
.porcinos h2,
.pioFC h2 {
    padding-top: 9%;
}

.rayoBarcelona a,
.elBarrio a,
.UnokFC a,
.aniquiladores a,
.jijantes a,
.kuniSports a,
.troncos a,
.ultimateMostoles a,
.xbuyerTeam a,
.porcinos a,
.saiyans a,
.pioFC a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.rayoBarcelona a:hover,
.elBarrio a:hover,
.UnokFC a:hover,
.aniquiladores a:hover,
.jijantes a:hover,
.kuniSports a:hover,
.troncos a:hover,
.ultimateMostoles a:hover,
.xbuyerTeam a:hover,
.porcinos a:hover,
.saiyans a:hover,
.pioFC a:hover {
    text-decoration: underline;
    color: white;
}



.rayoBarcelona,
.elBarrio,
.UnokFC,
.aniquiladores,
.jijantes,
.kuniSports,
.troncos,
.ultimateMostoles,
.xbuyerTeam,
.porcinos,
.saiyans,
.pioFC {
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.rayoBarcelona {
    background-image: linear-gradient(to bottom, #D4AC0D, #000000);
}

.elBarrio {
    background-image: linear-gradient(to bottom, #148F77, #000000);
}

.UnokFC {
    background-image: linear-gradient(to bottom, #3F2CCA, #000000);
}

.aniquiladores {
    background-image: linear-gradient(to bottom, #ff0000, #000000);
}

.jijantes {
    background-image: linear-gradient(to bottom, #160d99, #000000);
}

.kuniSports {
    background-image: linear-gradient(to bottom, #FE70BD, #000000);
}

.troncos {
    background-image: linear-gradient(to bottom, #107018, #000000);
}

.ultimateMostoles {
    background-image: linear-gradient(to bottom, #484849, #000000);
}

.xbuyerTeam {
    background-image: linear-gradient(to bottom, #2835f3, #000000);
}

.porcinos {
    background-image: linear-gradient(to bottom, #FE48AA, #000000);
}

.saiyans {
    background-image: linear-gradient(to bottom, #f1970f, #000000);
}

.pioFC {
    background-image: linear-gradient(to bottom, #ffffff, #000000);
}

.rayoBarcelona:hover img,
.elBarrio:hover img,
.UnokFC:hover img,
.aniquiladores:hover img,
.jijantes:hover img,
.kuniSports:hover img,
.troncos:hover img,
.ultimateMostoles:hover img,
.xbuyerTeam:hover img,
.porcinos:hover img,
.saiyans:hover img,
.pioFC:hover img {
    transform: scale(1.1);
}

footer {
    background-color: #000000;
    border: 2px solid #ccc;
}

.multimedia {
    text-align: center;
    padding: 5%;
}

.multimedia a {
    color: inherit;
    text-decoration: none;
    color: white;
}

.multimedia i {
    margin: 0 1%;
    /* Modifico el valor de como de separado quiero el contenido social multimedia */
}

.multimedia a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.copyright {
    padding-left: 1%;
    color: gray;
}

.mapa {
    padding-top: 3%;
}

.boton{
    display: flex;
    justify-content: center;
    
}
.botonJornada{
    border: 2px solid #000000;
    border-radius: 10px;
   background-image: linear-gradient(to right, #F95E06, #F9D806 );
}
.botonJornada a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.botonJornada a:hover{
    text-decoration: underline;
    color: #000000;
}

@media only screen and (max-width: 815px) {
    .teams {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 20px;
    }

    #logo {
        width: 15%;
        height: auto;
    }

}

@media only screen and (max-width: 600px) {
    .teams {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, auto);
        gap: 20px;
    }

    #logo {
        width: 15%;
        height: auto;
    }

    footer {
        max-width: 100%;
    }

    .mapa {
        display: flex;
        align-items: center;
    }

    .mapa iframe {
        max-width: 100%;
    }
}