body {
    background-image: linear-gradient(to bottom, #000, #FE48AA);
    /* Color de fondo oscuro */
    color: #fff;
    /* Color de texto blanco */
    font-family: Arial, sans-serif;
    /* Fuente del texto */
}

footer {
    background-color: #000000;
    border: 2px solid #ccc;
}

.multimedia {
    text-align: center;
    padding: 5%;
}

.multimedia a {
    color: inherit;
    text-decoration: none;
    color: white;
}

.multimedia i {
    margin: 0 1%;
    /* Modifico el valor de como de separado quiero el contenido social multimedia */
}

.multimedia a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.copyright {
    padding-left: 1%;
    color: gray;
}

a{
    color: white;
}

.container {
    max-width: 800px;
    /* Ancho máximo del contenedor */
    margin: 20px auto;
    /* Margen en los lados */
}

.top-section img {
    width: 200px;
    /* Tamaño grande para las imágenes */
    height: auto;
    margin-right: 20px;
    /* Margen entre las imágenes */
}

.top-section p {
    font-size: 24px;
    /* Tamaño de fuente grande para el texto */
}

table {
    margin-top: 20px;
    /* Margen superior para la tabla */
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #fff;
    /* Borde blanco para las celdas */
    padding: 10px;
    /* Espaciado interno */
    text-align: center;
}

th {
    background-color: #444;
    /* Fondo oscuro para las cabeceras */
}

tbody tr:nth-child(even) {
    background-color: #f56bb4;
    color: #000;
    /* Fondo oscuro para filas pares */
}

tbody tr:nth-child(odd) {
    background-color: #8d074e;
    color: #ffffff;
    /* Fondo oscuro para filas impares */
}

tbody tr:hover {
    background-color: #242323;
    color: #fff;
    /* Cambio de color al pasar el mouse */
}

/* Tamaño de las imágenes en la tabla */
table img {
    width: 30%;
    /* Tamaño relativo del 30% */
    height: auto;
}

.por {
    background-color: rgb(255, 87, 27);
    color: #000;
}

.def {
    background-color: rgb(236, 86, 86);
    color: #000;
}

.med {
    background-color: rgb(91, 241, 91);
    color: #000;
}

.del {
    background-color: rgb(75, 75, 243);
    color: white;
}

.header {
    display: flex;
    /* Para alinear elementos horizontalmente */
    justify-content: space-around;
    /* Para distribuir uniformemente los elementos */
    align-items: center;
    /* Para alinear verticalmente */
}

.header a {
    display: inline-block;
    /* Para permitir ajustes de tamaño y posición */
    margin: 0 10px;
    /* Espaciado entre las imágenes */
}

.header img {
    width: 40px;
    /* Ancho de las imágenes */
    height: auto;
    /* Altura automática para mantener la proporción */
}

@media only screen and (max-width: 600px) {
    footer {
        max-width: 100%;
    }
    
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header img {
        width: 19px;
        /* Ancho de las imágenes */
        height: auto;
        /* Altura automática para mantener la proporción */
    }

    .header a {
        margin: 5px;
    }

    .top-section {
        text-align: center;
    }

    .top-section img {
        width: 100px;
        margin-right: 0;
    }
}